doctype html
head
  title Changing Flask's default templates directory
  link(rel="stylesheet", href="/css/post.css", media="screen", charset="utf-8")
  link(rel="stylesheet", href="/css/pure-min.css", media="screen", charset="utf-8")
  link(rel="stylesheet", href="/css/rainbowthemes/blackboard.css", media="screen", charset="utf-8")

  script(src="/js/rainbow-custom.min.js", charset="utf-8")

body

  #left

  #right
    #content
      #post
        #id
          h1 Changing Flask's default templates directory

        #metadata
          span Posted by : Kevin &nbsp;&nbsp;
          span Posted at : Wednesday, May 28 2014

        #body
          p Assume that you had to move all your Flask application's files and directories to another sub-directory named, let's say app/. In that case, now when you call the 'render_template' method for your route from the gateway file (which is outside your directory), Jinja2 will look for a folder named 'templates' in the current directory.
          br
          br
          p That being the case, I managed to change the default 'templates' folder like this :
          br
          br

          //- CODE SEGMENT BEGINS
          pre
            code(data-language="python")
            import jinja2

            # ..
            app = Flask(__name__)
            app.jinja_loader = jinja2.FileSystemLoader('app/templates')

            # ..

          //- CODE SEGMENT ENDS
          br

          p Now, restart your application and it's done.
          br

        #footer
          p Source code @ <a href="https://www.github.com/kevinpaladin/myblog">github.com/kevinpaladin/myblog</a>
